body {
  margin: 0;
  padding: 0;
}

.single-movie {
  color: black;
  background-color: white;
  margin: 10px 0;
  padding: 10px;

  display: flex;
  justify-content: space-between;
}

.single-movie-header {
  display: flex;
  /*justify-content: space-between;*/
}

.single-movie-text {
  margin-left: 5px;
  max-width: 310px;
}

.movie-title,
.movie-year {
  margin: 0;
}

.movie-icon {
  display: block;
  color: blue;
  background-image: url("./assets/blue.png");
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.star-container {
  width: 20px;
  height: 20px;
}

.AiFillStar {
  color: blue;
}
